<%- include ('includes/head') %>
<div class="jumbotron">
  <div class="container">
    <h2>welcome</h2>
    <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis, totam debitis? Nostrum quia impedit obcaecati iusto quis ipsum minus iure officia qui inventore earum id aperiam nisi natus voluptatum tenetur libero, optio explicabo et molestias rerum? Excepturi, quaerat porro minus velit commodi molestias eum similique corrupti eos, eligendi iusto ab recusandae nemo sapiente cumque illum officia iure ratione tenetur libero culpa sed quis! Ad, distinctio expedita vitae enim facilis nemo? Eveniet beatae enim quisquam ad nesciunt. Voluptatum nulla, amet provident hic neque, odio consectetur, nam pariatur aliquam voluptatibus ullam nostrum ex consequatur sapiente. Provident quibusdam, minus esse harum minima optio.

    </p>
  </div>
  
</div>
    <h2>Welcome hello</h2>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aliquam enim, mollitia minus ab delectus quia praesentium ipsum earum reprehenderit, laboriosam totam nobis veritatis aperiam, amet nesciunt ad in! Hic, pariatur est alias, exercitationem molestias fugit natus, minus quidem distinctio voluptates qui impedit. Nulla, consectetur eos? Veritatis id illum sunt quos, qui dolorum ad enim! Vero qui tempore delectus nihil corrupti libero quas vel atque quam debitis doloremque ipsam, dolor quos reiciendis. Debitis harum ratione tempora nostrum tempore molestiae, officia, architecto laborum maiores eos mollitia, laboriosam quae asperiores? Eius ducimus vero, aliquam rem illum earum. Modi enim ex reiciendis officiis, reprehenderit magnam odio repellendus at dolorem cumque pariatur harum autem veniam perferendis cupiditate vel deleniti consequatur. Repellendus quia veniam molestias, a, vitae voluptate placeat similique suscipit aut nesciunt quos molestiae blanditiis quidem dolor nostrum maxime optio excepturi non sit incidunt labore. Soluta, odio animi odit excepturi adipisci reiciendis ex ratione cupiditate id accusantium provident voluptatem, aperiam laborum perspiciatis esse tenetur, quasi qui quas illo repellendus atque. Eaque inventore, quod itaque reprehenderit corrupti ab laboriosam nulla veniam labore sunt temporibus, molestiae corporis iure debitis est animi? Recusandae ut ullam error quos. Rerum sed perspiciatis, aliquam dolorem est tenetur eligendi consequuntur expedita officiis.

    </p>

    <%- include ('includes/footer') %>
    
