<%- include('includes/head') %>


<div class="jumbotron">
  <div class="container">
    <h1>welcome</h1>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Corporis, reiciendis repudiandae consectetur reprehenderit pariatur laborum quam perspiciatis quod ad tenetur, qui totam sapiente neque sint enim ea ullam dolore? Vero praesentium nulla sit ipsa laborum vitae amet ipsam tempore harum a voluptates magni dicta quis adipisci fuga exercitationem impedit corrupti esse rem minima saepe provident, obcaecati rerum. Iure natus iusto libero fugit incidunt quos obcaecati? Optio totam atque accusamus id facilis exercitationem, itaque vel labore consequuntur corporis magnam enim aspernatur nesciunt fuga est quia sit architecto quibusdam. Obcaecati, animi? Doloremque iure deserunt nulla nemo! Alias voluptas quod voluptatibus pariatur. Eius sit beatae quasi dignissimos pariatur labore velit odio aperiam distinctio et hic quia inventore enim similique cum molestias quidem, quos, aut optio ut! Dolores dolorum molestias excepturi maiores cupiditate quo consequuntur, eligendi, aut natus tempora voluptatibus nesciunt rem incidunt enim iusto! Facere rerum fugiat corrupti architecto fuga eos doloremque ea exercitationem voluptatibus maiores, deleniti itaque, incidunt ipsam aliquid libero in neque veniam vel a! Quo, magnam culpa, ea ipsam ad repudiandae odit adipisci animi quasi nemo voluptatibus. Voluptatibus odit porro hic ea quasi, excepturi ab minus maxime voluptate, magnam, sequi voluptas et officia optio officiis totam deserunt non tenetur accusantium?</p>
  </div>
</div>
<%- include('includes/footer') %>